<div class="bus" id="<%= @bus.id %>">
  <dl>
    <dt>District:</dt><dd><%= h @bus.district.name %></dd>
    <dt>Bus:</dt><dd><%= h @bus.name %></dd>
    <dt>Bus ID:</dt><dd><%= h @bus.xref %></dd>
    <dt>Position:</dt>
    <% unless @data.nil? %>
      <dd><%= "#{@data[0]},#{@data[1]}" %></dd>
    <% else %>
      <dd>unknown</dd>
    <% end %>
  </dl>
</div>